.box {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.select-date {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

    h1, h2 {
        cursor: pointer;
    }
}

.select-date:hover {
    background: var(--gray);
}

.selectBox {
    position: absolute;
    z-index: 100;
    width: 250px;
    top: 10px;
    /* metade da tela - metade da largura - metade do padding */
    left: calc(100vw / 2 - 250px / 2 - 20px / 2);
    display: grid;
    align-items: center;
    justify-content: center;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data {
    width: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    p {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }
}

.daysName {
    position: relative;
    width: 280px;
    ul {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    li {
        color: var(--primary);
    }
}

.calendarioBox {
    width: 280px;
    height: 240px;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--nobackground);
    gap: 0;
}

.day {
    width: 40px;
    height: 40px;
    margin: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--background);
    color: var(--nobackground);
    opacity: .5;
}

.grid {
    display: grid;
}

@media(max-width: 400px) {
    .daysName {
        width: calc(70px * 3.5);
    }
    
    .calendarioBox {
        width: calc(70px * 3.5);
        height: calc(6 * 35px);
    }
    
    .day {
        width: 35px;
        height: 35px;
        margin: 0px;
        border-radius: 0px;
        box-shadow: 0 0 1px #000;
    }

    .card {
        padding: 10px;
    }
}

.Day {
    opacity: 1;
    cursor: pointer;
    border: 1px solid var(--nobackground);
}

.Day:hover {
    background: var(--nobackground);
    color: var(--background);
}

.currentDay {
    background: var(--second);
    color: var(--black2);  
    box-shadow: none;
}

.currentDay:hover {
    background: var(--secondTransparent);
    color: var(--black2);  
}


.space {
    justify-content: space-around;
}

.card-element {
    text-align: center;

    h1 {
        color: var(--nobackground);
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
        color: var(--primary);
    }
}