.box {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.daysName {
    width: 280px;
    ul {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
    }

    li {
        color: var(--primary);
    }
}

.calendarioBox {
    width: 280px;
    height: 200px;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    color: var(--nobackground);
    gap: 0;
}

.day {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    color: var(--white);
}

.day:hover {
    background: var(--primary);
    color: var(--white);
}

.Day {
    background: var(--background);
    color: var(--nobackground);
    box-shadow: 0 0 1px #000;
    cursor: pointer;
}

.Day:hover {
    background: var(--nobackground);
    color: var(--background);
}

.currentDay {
    background: var(--second);
    color: var(--background);  
}

.currentDay:hover {
    background: var(--secondTransparent);
    color: var(--nobackground);  
}

.grid {
    display: grid;
}

.space {
    justify-content: space-around;
}

.card-element {
    text-align: center;

    h1 {
        color: var(--nobackground);
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
        color: var(--primary);
    }
}