.container {
    background-repeat: repeat;
}

.box {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.select-date {
    cursor: pointer;
    border-radius: 5px;

    h1, h2 {
        cursor: pointer;
    }
}

.select-date:hover {
    h1, h2 {
        opacity: .8;
    }
}

.selectBox {
    position: absolute;
    z-index: 100;
    width: 250px;
    top: 10px;
    /* metade da tela - metade da largura - metade do padding */
    left: calc(100vw / 2 - 250px / 2 - 20px / 2);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data {
    width: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 10px 0 10px;

    p {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        box-shadow: 0 0 1px var(--nobackground);
        font-size: .8rem;
    }

    p:hover {
        background: var(--nobackground);
        color: var(--background);
    }

    .selectedDate {
        background: var(--nobackground);
        color: var(--background);
    }
}

.daysName {
    position: relative;
    width: 280px;
    ul {
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    li {
        color: var(--primary);
    }
}

.calendarioBox {
    width: 280px;
    height: 240px;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--nobackground);
    gap: 0;
}

.day {
    width: 40px;
    height: 40px;
    margin: 1px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--background);
    color: var(--nobackground);
    opacity: .5;
}

.Day {
    opacity: 1;
    cursor: pointer;
    border: 1px solid var(--nobackground);
}

.Day:hover {
    background: var(--nobackground);
    color: var(--background);
}

.currentDay {
    background: var(--second);
    color: var(--black2);  
    box-shadow: none;
}

.currentDay:hover {
    background: var(--secondTransparent);
    color: var(--black2);  
}

.card-element {
    text-align: center;

    h1 {
        color: var(--nobackground);
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
        color: var(--primary);
    }
}

.listBox {
    background: transparent;
    backdrop-filter: blur(2px);
    width: 80vw;
    max-width: 300px;
    height: 40vh;
    max-height: 40vh;
    overflow: hidden auto;
}

.listBox::-webkit-scrollbar {
    width: 20px;
    background: var(--primaryTransparent);
}

.listBox::-webkit-scrollbar-thumb {
    width: 20px;
    background: var(--primaryTransparent);
}

.listBox::-webkit-scrollbar-button {
    width: 20px;
    background: var(--background);
}

.listBox .card {
    width: 200px;
}

.eventData {
    margin: 5px 0 5px;
}

/* Form */
.formBox {
    border: 1px solid var(--second);
    background: var(--background);
    color: var(--nobackground);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;

    legend {
        color: var(--second);
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.3rem;
        text-shadow: 0 0 5px #0005;
    }

    label {
        text-align: left;
        float: left;
        color: var(--nobackground);
        font-weight: 600;
        margin: 5px 0 5px 10px;
    }

    .campo {
        input[type="text"], input[type="date"], input[type="time"] {
            width: 160px;
            height: 45px;
        }

        textarea {
            width: 100%;
            min-width: 200px;
            max-width: 200px;
            height: 45px;
            min-height: 45px;
            max-height: 45px;
            background: transparent;
            border: none;
            outline: none;
            font-size: .9rem;
            color: var(--nobackground);
            cursor: text;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: var(--nobackground);
        }
    }
}

.campos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .campoTime {
        width: 75px;
        height: 20px;
        border: 1px solid var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        input {
            font-size: 1rem;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.escalaBtn {
    width: 100%;
}

.eventButtonSubmit {
    svg {
        fill: var(--primary);
    }
}

.eventButtonSubmit:hover {
    background: transparent;
    svg {
        fill: var(--nobackground);
    }
}

#viewListEscala {
    width: 220px;
    height: 200px;
    border-radius: inherit;
    min-width: 220px;
    min-height: 200px;
    max-width: 220px;
    max-height: 200px;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 1rem;
    letter-spacing: .5px;
    outline: none;
    color: var(--nobackground);
}

@media(max-width: 400px) {
    .daysName {
        width: calc(70px * 3.5);
    }
    
    .calendarioBox {
        width: calc(70px * 3.5);
        height: calc(6 * 35px);
    }
    
    .day {
        width: 35px;
        height: 35px;
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
    }

    .Day {
        border: none;
        background: var(--gray);
    }

    .card {
        padding: 10px;
    }
}

.flex {
    width: 200px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.transparent {
    background: transparent;
}

.blur {
    backdrop-filter: blur(10px);
}

.space {
    justify-content: space-around;
}

.topHeight {
    padding-top: 10vh;
}