.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

.container::before {
    display: none;
}

img {
    width: 230px;
}

.logo {
    position: absolute;
    top: calc(100vh / 2 - 40vh);
    left: calc(100vw / 2 - 40vh);
    width: 50vh;
    height: 50vh;
    border-radius: 20px;
    background: var(--logoSrc);
    background-size: cover;
}
    
form {
    width: 90vw;
    width: 230px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 2px 2px 5px #00000057, 0 0 1px #00000041;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(10px) invert(10%);
    color: var(--nobackground);
}

fieldset {
    width: inherit;
    max-width: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    border: none;
}

legend {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--nobackground);
}

input {
    width: inherit;
    max-width: 235px;
    border-top: 2px solid #797979;
    border-right: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-left: 2px solid #797979;
    outline: none;
    padding: 5px;
    cursor: text;
    background: transparent;
    backdrop-filter: invert(10%);
    border-radius: 5px;
    color: var(--nobackground);
}

label {
    color: var(--nobackground);
}

button {
    background: var(--primary);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    outline: none;
    padding: 10px;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background: var(--black);
    opacity: 9;
}

button.link {
    background: transparent;
    padding: 5px;
    font-size: .8rem;
    cursor: pointer;
    margin: 5px;
    a {
        text-decoration: none;
        color: var(--primary);
        cursor: pointer;
    }
}

button.link:hover {
    opacity: .9;

    a {
        color: var(--black);
    }
}

button.primary {
    width: 120px;
}

button.second {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}

button.second:hover {
    background: var(--black);
    border: 1px solid var(--black);
    color: var(--white);
}

fieldset.links, fieldset.buttons {
    display: flex;
}